/* CCT260 A2 Jheyzelle */
body {
/* justify-content: center; */
    font-family: "Calibri Light";
    background-color: white;
    margin: 0;
}
/* =============== header =============== */
header {
    float: none;
    padding: 30px;
} header nav {
    float: right;
    font-size: 20px;
    text-transform: uppercase;
} header ul, footer ul {
  justify-content: center;
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;
} #logo {
    float: none;
    width: 200px;
} li {
    padding: 10px;
} a {
    text-decoration: none;
} a:hover {
    color: #f66863;
    font-weight: bold;
    overflow: hidden;
} h1 {
    font-size: 50px;
    font-family: Arial;
    text-align: center;
} #hp-drawing {
    width: 100%;
}
#title {
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  background: #ffffff90;
  width: 100%;
  padding: 10px 30px;
  font-size: 6vw;
  text-align: left;
  font-family: "calibri";
  font-weight: 100;
  color: rgb(159, 72, 82);
}
.cont {
  position: relative;
}
/* =============== about =============== */
#profpic {
    float: left;
    width: 200px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 5px 1px #b8b1b1;
} .about {
  justify-content: center;
  padding-bottom: 100px;
} .about p {
    margin: auto;
    width: 75%;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
}

/* =============== portfolio =============== */
.featured {
  justify-content: center;
  text-align: center;
} #ft-vid {
  width: 90%;
}
#search {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.port{
  width: 100%;
  justify-content: center;
  text-align: center;
}
.row {
  width: 27%;
  clear: both;
  text-align: center;
  justify-content: center;
  margin: 20px;
}
.piece {
    border: 1px solid black;
}
.blur:hover {
  filter:blur(7px);
  border: 1px solid black;

  overflow: hidden;
}
/* =============== form =============== */

.contact-form {
    margin: 0;
    padding: 100px 50px;
    background-color: #CDC7D9;

    display: flex;
    flex-direction: column;

    align-items: center;
}

input{
    color: #090922;
    font-family: Arial;
    font-size: 20px;
    width: 50%;
    padding: 10px;
    margin: 5px;
    border: none;
}

input[type=submit] {
  display: block;
  width: 100px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;

  -webkit-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

input[type=submit]:hover {
  background-color: #f66863;
  color: white;
}

textarea {
  resize: none;
  width: 50%;
  padding: 10px;
  margin: 5px;
  color: #090922;
  font-family: Arial;
  font-size: 20px;
  border: none;
}
/* =============== footer =============== */
footer {
    float: none;
    display: block;
    background-color: #402E68;
    color: #CDC7D9;
    padding: 50px;
    text-align: center;
    clear: both;
}

footer a {
  color: #9bddda;
}
footer a:hover{
  text-decoration: underline;
}

#sm {
  width: 50px;
}

#footer-logo {
  width: 150px;
}

@media screen and (max-width: 600px) {
  header {
      justify-content: center;
      text-align: center;
      padding: 10px;
  }

  header nav {
      float: none;
  }

  nav ul {
      display: flex;
  }
  #logo {
      float: none;
      width: 200px;
  }

  footer {
      float: none;
  }

  input{
      color: #090922;
      font-family: Arial;
      font-size: 20px;
      width: 90%;
      padding: 10px;
      margin: 5px;
  }

  textarea {
    resize: none;
    width: 90%;
    padding: 10px;
    margin: 5px;
    color: #090922;
    font-family: Arial;
  }

  #profpic {
      float: none;
      width: 200px;
      clear: both;
      margin: 20px;
      border-radius: 5px;

  } .about {
    justify-content: center;
    padding-bottom: 30px;
  } .about p {
      margin: auto;
      width: 75%;
      justify-content: center;
      padding: 10px;
      font-size: 20px;
  } .dp {
      text-align: center;
  }
}
