.mediaViewInfo {
	--web-view-name: shop;
	--web-view-id: shop;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: shop;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.shop_Class {
	position: absolute;
	width: 1920px;
	height: 3762px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: shop;
	--web-view-id: shop;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.shop_bm_Class {
	position: absolute;
	width: 1920px;
	height: 3762px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.topnav_bn_Class {
	position: absolute;
	width: 889px;
	height: 78px;
	left: 464px;
	top: 25px;
	overflow: visible;
}
.navlogo_bo_Class {
	fill: rgba(255,255,255,0);
}
.navlogo_bo {
	position: absolute;
	overflow: visible;
	width: 377px;
	height: 78px;
	left: 0px;
	top: 0px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
.navabout_bp_Class {
	fill: rgba(255,255,255,0);
}
.navabout_bp {
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 34px;
	left: 408px;
	top: 12px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
}
.navshop_bq_Class {
	fill: rgba(255,255,255,0);
}
.navshop_bq {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 34px;
	left: 481px;
	top: 12px;
}
.navgallery_br_Class {
	fill: rgba(255,255,255,0);
}
.navgallery_br {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 34px;
	left: 547px;
	top: 12px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: mediagallery.html;
	cursor: pointer;
}
.navblog_bs_Class {
	fill: rgba(255,255,255,0);
}
.navblog_bs {
	position: absolute;
	overflow: visible;
	width: 122px;
	height: 34px;
	left: 680px;
	top: 12px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: thedailybird.html;
	cursor: pointer;
}
.navcontact_bt_Class {
	fill: rgba(255,255,255,0);
}
.navcontact_bt {
	position: absolute;
	overflow: visible;
	width: 79px;
	height: 34px;
	left: 810px;
	top: 12px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
}
.footer_bu_Class {
	position: absolute;
	width: 1243px;
	height: 264px;
	left: 323px;
	top: 3422px;
	overflow: visible;
}
.mangobirds_bv_Class {
	fill: rgba(255,255,255,0);
}
.mangobirds_bv {
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 51px;
	left: 0px;
	top: 0px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
.githubrepo_bw_Class {
	fill: rgba(255,255,255,0);
}
.githubrepo_bw {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 44px;
	left: 441px;
	top: 220px;
}
.totop_bx_Class {
	fill: rgba(255,255,255,0);
}
.totop_bx {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 39px;
	left: 1122px;
	top: 225px;
}