@charset "utf-8";
/* PORTFOLIO PAGE */
/* 0D1D32 | C89A60 | 68A19C | B5D9D6 */

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- */

.card {
  border: none;
}

.page-portfolio .card {
  overflow: hidden;
}
.page-portfolio #port-right img {
  filter: grayscale(100%);
}

.page-portfolio #port-right img:hover {
  transform-origin: center;
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  
  transition: all 0.3s ease;
  
  filter: none;
  
}

.page-portfolio #port-right .card-img-overlay {
  opacity: 0;
  color: #fff;
}

.page-portfolio #port-right .card-img-overlay:hover + img {
  opacity: 1;
}

/* Portfolio */
.landscape {
  height: 200px;
}

.portrait {
  height: 400px;
}

.card-img-top {
  object-fit: cover;
  width: inherit;
  height: inherit;
}

.pf-head-car{
  padding: 0;
  font-family: 'Abel', sans-serif;
}
.pf-head-car .carousel-inner .carousel-item {
  height: 500px;
}

@media (max-width: 992px) {
  .content-after-nav {
      top: auto;
  }

}